#ContentOfBody{
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;
  min-height: 100vh;
}
footer{
	background-color: #266fba;
	color: white;
	padding: 32px;
	text-align: center;
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 10px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
/*header Design*/
.navbar-brand{

}
header{
  height: 100px;
  background: #197CC1;
  position: relative;
}
.head-nav{
  position: absolute;
  background: #197CC1;
  border-radius: 0;
  border: 0;
  margin: 0;
  top: 25%;
  width: 100%;
}
.head-nav .head-menu li a {
  color: white;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
}
header .navbar-default .navbar-brand{
  color: white;
}
header .navbar-default .navbar-brand:hover{
  color: white;
}

.head-nav .head-menu li a:hover,a:focus{
  color: gainsboro;
  border-radius: 10px;
}

@media (max-width: 768px)
{
  header{
    height: 200px;
  }
  .pull-right{
    float: left;
  }
}


/*Second Navbar Design*/
.my-nav{
  background: white;
  border-radius: 0;
  border: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
.my-nav ul{
  padding: 27px 0 20px 0;
}

#fullNavbar li> *{
  display: inline-block;
  vertical-align: middle;
}


.my-nav .my-menu li a {
  color: black;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 16px;
 
}

.my-nav .my-menu li a:hover,a:focus{
  background: whitesmoke;
  color: #197CC1;
}

.my-nav .my-menu .dropdown .dropdown-menu{
  background: #4395f4;
  color: white;
 
}

.my-nav .my-menu .dropdown li a:hover{
  background: #197CC1;
  border-radius: 10px;
  color:white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: black;
  background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: black;
}

.secondNav .navbar-nav {
  width: 100%;
  text-align: center;
}
.secondNav .navbar-nav>li {
  float: initial;
}
.secondNav .nav>li {
  display:inline-block;
}

.customizeNavbarHeader .navbar-brand{
  font-size: 15px;
  padding: auto 20px;
}

.main-class1{
	
}
.main-class2{
	
}